html {
        font-family: sans-serif;
      }
      body {
        margin: 0;
		background-image: url(game.jpg); 
        background-attachment: fixed; 
      }
      header {
        background: purple;
        height: 100px;
      }
      h1 {
        text-align: center;
        color: white;
        line-height: 100px;
        margin: 0;
      }
      article {
        padding: 10px;
        margin: 10px;
        background: aqua;
      }
      section {
  display: flex;
  justify-content: right;
  align-items:center;
}
.frame {
    border: 3px solid #00a8e1;
   }