html {
        font-family: sans-serif;
      }
      body {
        margin: 0;
		background-image: url(start.jpg); 
        background-attachment: fixed; 
      }
      header {
        background: #00FFFF;
        height: 100px;
      }
      h1 {
        text-align: center;
        color: blue;
        line-height: 100px;
        margin: 0;
      }
      article {
        padding: 10px;
        margin: 10px;
        background: #FFEBCD;
      }
      section {
  display: flex;
  justify-content: center;
  
}


 .c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
  }
   .c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
   }